

%hr

.container
  .row
    .span12
      %ul.thumbnails
        %li.span2
          .thumbnail.text-center(href=""){:style => "height:100px; vertical-align: middle !important;"}
            %a.btn(href="#new-design-modal" role="button" data-toggle="modal"){:style => "margin-top:15px;"}
              %i.btn_add.icon-picture.icon-4x{:style => "color:black;"}                  
          .modal.hide.fade#new-design-modal(tabindex="-1" role="dialog" aria-labelledby="new-design-modal-label" aria-hidden="true")
            .modal-header
              %button.close(data-dismiss="modal" aria-hidden="true" type="button") &times;
              %h3#new-design-modal-label Add Design
            .modal-body
              = simple_form_for @design, html: {class: "form-horizontal", id: "new-design-form"} do |f|
                = f.input :name
                = f.input :picture, label: "Design Picture"
                = f.input :description, input_html: {rows:3}
            .modal-footer
              %button.btn(data-dismiss="modal" aria-hidden="true") Close
              %button.btn.btn-primary#new-design-btn Save
        - @designs.each do |design|
          %li.span2
            .thumbnail(href="")
              %image.a_design(src="#{URI.join(request.url, design.picture.url(:thumb))}")
            -# %h3= design.name
            -# %p= design.description
            - if !design.is_published
              %a.btn_config.btn{:href => "#{edit_design_path(design)}"}
                %i.icon-cog.icon-1x{:style => "color:black"}
              %a.btn.btn_request(href="#{request_feedback_for_design_path(design)}" data-method="post" data-confirm-fade="true" data-confirm="You really want to publish?" data-confirm-title="Confirmation")
                %i.icon-hand-up.icon-1x{:style => "color:black"}
            - else
              %button.btn_config.btn.disabled
                %i.icon-cog.icon-1x{:style => "color:grey"}
              %button.btn.btn_request.disabled
                %i.icon-hand-up.icon-1x{:style => "color:grey"}
            - if can? :feedbacks, design
              %a.btn_viewfeedback.btn{:href => "#{feedbacks_design_path(design)}"}
                %i.icon-comments-alt.icon-1x{:style => "color:black"}
            - else
              %button.btn_viewfeedback.btn.disabled
                %i.icon-comments-alt.icon-1x{:style => "color:gray"}
            %a.btn_dele.btn(href="#{design_path(design)}" data-method="delete" data-confirm="You really want to delete?" data-confirm-fade="true" data-confirm-title="Confirmation")
              %i.icon-trash.icon-1x{:style => "color:black"}  
:javascript


                  
  $(function() {
    $("#new-design-btn").click(function(){
      $("#new-design-form").submit();
    });
   
    $('.btn_add')
      .attr("data-toggle", "tooltip")
      .attr("title", "upload design");
   
    $('.a_design')
      .css({'backgroundColor': 'white', 'color': 'white','height':'100px'});
      
    $('.btn_config')
      .attr("data-toggle", "tooltip")
      .attr("title", "config feedback");

    $('.btn_request')
      .attr("data-toggle", "tooltip")
      .attr("title", "request feedback");

    $('.btn_viewfeedback')
      .attr("data-toggle", "tooltip")
      .attr("title", "view feedback");

    $('.btn_dele')
    .attr("data-toggle", "tooltip")
    .attr("title", "delete");

    $('[data-toggle=tooltip]').tooltip({
      'container': 'body',
      'placement': 'bottom'
    });
  });
