%a.btn-primary.btn(href="#new-design-modal" role="button" data-toggle="modal") Add Design
.modal.hide.fade#new-design-modal(tabindex="-1" role="dialog" aria-labelledby="new-design-modal-label" aria-hidden="true")
  .modal-header
    %button.close(data-dismiss="modal" aria-hidden="true" type="button") &times;
    %h3#new-design-modal-label Add Design
  .modal-body
    = simple_form_for @design, html: {class: "form-horizontal", id: "new-design-form"} do |f|
      = f.input :name
      = f.input :picture, label: "Design Picture"
      = f.input :description, input_html: {rows:3}
  .modal-footer
    %button.btn(data-dismiss="modal" aria-hidden="true") Close
    %button.btn.btn-primary#new-design-btn Save
    :javascript
      $(function(){
        $("#new-design-btn").click(function(){
          $("#new-design-form").submit();
        });
      });


%hr

.container
  .row
    .span12
      %ul.thumbnails
        - @designs.each do |design|
          %li.span2(style="background: #eef")
            %a.thumbnail(href="#{edit_design_path(design)}")
              %image(src="#{design.picture.url(:thumb)}")
            %h3= design.name
            %p= design.description
            = link_to 'Publish', request_feedback_for_design_path(design), :method => :post, :class => "btn btn-primary", :confirm => 'You really want to publish?',"data-confirm-fade" => true, "data-confirm-title" => "Confirmation" if !design.is_published
            = link_to 'Feedbacks', feedbacks_design_path(design), :class => "btn btn-primary" if design.is_published && design.is_feedback_done
            = link_to 'Delete', design_path(design), :method => :delete, :class => "btn btn-danger", :confirm => 'You really want to Delete?',"data-confirm-fade" => true, "data-confirm-title" => "Confirmation"
