.span8.offset2
  = simple_form_for @design, html: {class: "form-horizont"} do |f|
    = f.input :name
    = f.file_field :picture
    = f.input :description, input_html: {class: "span8"}

    = f.button :submit, "Save"
