.span10.offset1
  = render 'shared/check_turker'
  
  #step-feedback.hide
    #example
      .row
        .span10
          %p Read the design guideline carefully. Compare negative and positive examples of this guideline.
          %p
            %strong Guideline:
            = GuidelineFeedback::ExampleText[@configuration_index] if @configuration_index
      .row.text-center
        .span10
          %hr
          %p
            %strong Negative example:
            = GuidelineFeedback::ExampleNegativeExplanation[@configuration_index] if @configuration_index
          %image(src="#{image_path("guideline_examples/#{GuidelineFeedback::ExampleNegativeImage[@configuration_index] if @configuration_index}")}")
      .row.text-center
        .span10
          %hr
          %p
            %strong Postive example:
            = GuidelineFeedback::ExamplePositiveExplanation[@configuration_index] if @configuration_index
          %image(src="#{image_path("guideline_examples/#{GuidelineFeedback::ExamplePositiveImage[@configuration_index]}") if @configuration_index}")
    .row
      .span6.offset2
        .step1.hide
          %p
            Evaluate the design by the following guideline carefully.
        .step2.hide
          %p
            Draw a box on the design to indicate which part of the design
            %strong.text-warning#support-action supports
            your rating of the guideline.
        %p#guideline.hide
          %strong Guideline:
          = @configuration.description
    .row.text-center#picture.hide
      .span10
        %image.img-polaroid#picture{src: @design.picture.url}
    .row
      .span6.offset2
        .step1.hide
          %hr
          %p
            %strong Statement:
            The design meets this guideline.
          %p
            %strong To what extent do you agree or disagree with the above statement:
          %table.table
            %tr
              %td(style="width: 14%; text-align: center") strongly disagree
              %td(style="width: 14%; text-align: center") moderately disagree
              %td(style="width: 14%; text-align: center") slightly disagree
              %td(style="width: 14%; text-align: center") neutral
              %td(style="width: 14%; text-align: center") slightly agree
              %td(style="width: 14%; text-align: center") moderately agree
              %td(style="width: 14%; text-align: center") strongly agree
            %tr
              - (-3..3).each do |i|
                %td(style="text-align: center")
                  %input.guideline_feedback_rating(style="text-align: center" type="radio" name="rating" value="#{i}")
        .step2.hide
          %p#step-description.hide
            Describe the elements in the part of design you just highlighted, such as
            %strong.text-warning#element_names 
            and explain why these elements in this part of the design do not meet the guideline (at least 15 words):
            %textarea.span6#boxarea-description(rows="3")
    .row
      .span10
        %hr
        %a.btn.btn-primary#process-btn Next

= render 'shared/feedback_result'

:coffee
    element_boxareas = #{@boxareas.to_json}
    selectHandle = (img,selection) =>
      $("#step-description").show()
      $("#element_names").html nearest_elements_names(selection, element_boxareas, 3).join(", ")
    unSelectHandle = (img, selection) =>
      $("#step-description").hide()
      $("#boxarea-description").val("")
      
    current_selection = make_image_selectable_with_button("#picture", "#process-btn",selectHandle, unSelectHandle)

    #$(".guideline_feedback_rating:checked").val()
    steps = []
    rating = null

    step0 = () ->
      $("#example").hide()
      $(".step1").show()
      $("#picture").show()
      $("#guideline").show()
      return true

    step1 = () ->
      rating = $(".guideline_feedback_rating:checked").val()
      if rating
        $(".step1").hide()
        $(".step2").show()
        $("#process-btn").addClass("disabled")
        current_selection.setOptions {enable: true}

        return true
      else
        warning "Please choose your rating"
        return false

    step2 = () ->
      description_str = $("#boxarea-description").val().trim()
      if description_str
        description_words = split_words_from_str(description_str)
        if description_words.length < 15
          warning "Please provide at 15 words to describe your selected part"
          return false
        else
          current_selection.cancelSelection()
          $.ajax {
            type: "post",
            url: "#{design_guideline_feedbacks_path(@design)}",
            data: JSON.stringify({access_code: "#{params[:access_code]}", worker_id: window.current_worker_id, configuration_id: "#{@configuration.id}", description: description_str,rating: rating, x1: current_selection.getSelection().x1, y1: current_selection.getSelection().y1, x2: current_selection.getSelection().x2, y2: current_selection.getSelection().y2}),
            dataType: "json",
            contentType: 'application/json',
            success: (data) =>
              $("#step-feedback").hide()
              $("#step-feedback-result").show()
              $("#code").html(data.code)
          }

          return true
      else
        warning "Please fill the description of your selected part"
        return false
    
    current_step = 1
    steps = [step0, step1, step2]

    $("#process-btn").click =>
      return if $("#process-btn").hasClass("disabled")
      current_step = @process_steps(current_step, steps)

- if @configuration_index.nil?
  :coffee
    $("#process-btn").trigger("click")

