!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Voyant"
      %meta{:content => content_for?(:description) ? yield(:description) : "Crowddesign", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}", :style => "padding-top: 20px"}
    #main{:role => "main"}
      .container
        .content-workflow
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer

